## 数据导入

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../data/mpg_ggplot2.csv')

## 数据查看

In [4]:
df.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [5]:
df.tail()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [6]:
df.index

RangeIndex(start=0, stop=234, step=1)

In [7]:
df.columns

Index(['manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty',
       'hwy', 'fl', 'class'],
      dtype='object')

数据转置，行列互换

In [8]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,224,225,226,227,228,229,230,231,232,233
manufacturer,audi,audi,audi,audi,audi,audi,audi,audi,audi,audi,...,volkswagen,volkswagen,volkswagen,volkswagen,volkswagen,volkswagen,volkswagen,volkswagen,volkswagen,volkswagen
model,a4,a4,a4,a4,a4,a4,a4,a4 quattro,a4 quattro,a4 quattro,...,new beetle,new beetle,new beetle,passat,passat,passat,passat,passat,passat,passat
displ,1.8,1.8,2.0,2.0,2.8,2.8,3.1,1.8,1.8,2.0,...,2.0,2.5,2.5,1.8,1.8,2.0,2.0,2.8,2.8,3.6
year,1999,1999,2008,2008,1999,1999,2008,1999,1999,2008,...,1999,2008,2008,1999,1999,2008,2008,1999,1999,2008
cyl,4,4,4,4,6,6,6,4,4,4,...,4,5,5,4,4,4,4,6,6,6
trans,auto(l5),manual(m5),manual(m6),auto(av),auto(l5),manual(m5),auto(av),manual(m5),auto(l5),manual(m6),...,auto(l4),manual(m5),auto(s6),manual(m5),auto(l5),auto(s6),manual(m6),auto(l5),manual(m5),auto(s6)
drv,f,f,f,f,f,f,f,4,4,4,...,f,f,f,f,f,f,f,f,f,f
cty,18,21,20,21,16,18,18,18,16,20,...,19,20,20,21,18,19,21,16,18,17
hwy,29,29,31,30,26,26,27,26,25,28,...,26,28,29,29,29,28,29,26,26,26
fl,p,p,p,p,p,p,p,p,p,p,...,r,r,r,p,p,p,p,p,p,p
class,compact,compact,compact,compact,compact,compact,compact,compact,compact,compact,...,subcompact,subcompact,subcompact,midsize,midsize,midsize,midsize,midsize,midsize,midsize

按值排序

In [9]:
df.sort_values(by='displ')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
99,honda,civic,1.6,1999,4,manual(m5),f,28,33,r,subcompact
101,honda,civic,1.6,1999,4,manual(m5),f,25,32,r,subcompact
102,honda,civic,1.6,1999,4,manual(m5),f,23,29,p,subcompact
103,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
100,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
...,...,...,...,...,...,...,...,...,...,...,...
129,jeep,grand cherokee 4wd,6.1,2008,8,auto(l5),4,11,14,p,suv
25,chevrolet,corvette,6.2,2008,8,manual(m6),r,16,26,p,2seater
26,chevrolet,corvette,6.2,2008,8,auto(s6),r,15,25,p,2seater
31,chevrolet,k1500 tahoe 4wd,6.5,1999,8,auto(l4),4,14,17,d,suv
27,chevrolet,corvette,7.0,2008,8,manual(m6),r,15,24,p,2seater

按值降序排序

In [10]:
df.sort_values(by='displ', ascending=False)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
27,chevrolet,corvette,7.0,2008,8,manual(m6),r,15,24,p,2seater
31,chevrolet,k1500 tahoe 4wd,6.5,1999,8,auto(l4),4,14,17,d,suv
26,chevrolet,corvette,6.2,2008,8,auto(s6),r,15,25,p,2seater
25,chevrolet,corvette,6.2,2008,8,manual(m6),r,16,26,p,2seater
129,jeep,grand cherokee 4wd,6.1,2008,8,auto(l5),4,11,14,p,suv
...,...,...,...,...,...,...,...,...,...,...,...
101,honda,civic,1.6,1999,4,manual(m5),f,25,32,r,subcompact
100,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
99,honda,civic,1.6,1999,4,manual(m5),f,28,33,r,subcompact
103,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
102,honda,civic,1.6,1999,4,manual(m5),f,23,29,p,subcompact

## 选择